<div class="oss-overlay"></div>
<div class="oss-content">
  <div class="oss-close" onclick="ossClose(event)"></div>
   <div class="oss-tabs" onclick="selectTab(event)">
      <div class="oss-tab active">OSS Projects</div>
      <div class="oss-tab">More</div>            
  </div>
  <div class="oss-tab-contents">
      <div class="oss-tab-content active">
          {{#each projects}}
            <a href='{{this.url}}' title='{{this.description}}' class="oss-project" target="_blank">
              <div class="oss-project-image">{{this.shortName}}</div>
              <p class="oss-project-title">{{this.title}}</p>
            </a>
          {{/each}}         
      </div>
      <div class="oss-tab-content">
        <div class="oss-feed-caption">From the Engineering Blog</div>
            {{#each feeds}}
            <a href='{{this.link}}' title='{{this.description}}' class="oss-feed" target="_blank">
                <div class="oss-blog-title">{{this.title}}</div>
                <div class="oss-blog-description">{{this.description}}</div>
            </a>
            {{/each}} 
      </div>            
  </div>
</div>